<div class="card text-primary m-3 m-md-5 border-primary">
    <img src="{{product.imageUrl}}" height="240" class="card-img-top" alt="">
    <div class="card-body">
        <div class="d-flex justify-content-between">
            <h4 class="card-title">{{product.title}}</h4>
            <h4 class="card-title">$ {{product.price}}</h4>
        </div>
        <p class="card-text fs-5 text-truncate">{{product.description}}</p>
        <div class="d-flex justify-content-between">
            <button class="btn btn-outline-primary shadow-none" type="submit">Details</button>
            <button class="btn btn-outline-primary shadow-none" type="submit">Add to Cart</button>
        </div>
    </div>
</div>