<div class="d-flex justify-content-center align-items-center flex-md-row flex-column">
    <app-card *ngFor="let product of products.products" [product]="product"></app-card>
</div>
<div class="d-flex justify-content-center align-items-center">
    <app-pagination [currentPage]="products.currentPage" [nextPage]="products.nextPage"
        [hasNextPage]="products.hasNextPage" [hasPreviousPage]="products.hasPreviousPage" [lastPage]="products.lastPage"
        [previousPage]="products.previousPage"></app-pagination>
</div>